/**
 * 2014. `MATERIAL DESIGN`. Color palettes
 * https://material.io/design/color/the-color-system.html#tools-for-picking-colors
 */

/* Red. Normal */
$colors-red-normal-shades-default-50-hexadecimal: #ffebee;
$colors-red-normal-shades-default-50-contrast: rgba(0, 0, 0, 0.87);
$colors-red-normal-shades-default-100-hexadecimal: #ffcdd2;
$colors-red-normal-shades-default-100-contrast: rgba(0, 0, 0, 0.87);
$colors-red-normal-shades-default-200-hexadecimal: #ef9a9a;
$colors-red-normal-shades-default-200-contrast: rgba(0, 0, 0, 0.87);
$colors-red-normal-shades-default-300-hexadecimal: #e57373;
$colors-red-normal-shades-default-300-contrast: rgba(0, 0, 0, 0.87);
$colors-red-normal-shades-default-400-hexadecimal: #ef5350;
$colors-red-normal-shades-default-400-contrast: rgba(255, 255, 255, 0.87);
$colors-red-normal-shades-default-500-hexadecimal: #f44336;
$colors-red-normal-shades-default-500-contrast: rgba(255, 255, 255, 0.87);
$colors-red-normal-shades-default-600-hexadecimal: #e53935;
$colors-red-normal-shades-default-600-contrast: rgba(255, 255, 255, 0.87);
$colors-red-normal-shades-default-700-hexadecimal: #d32f2f;
$colors-red-normal-shades-default-700-contrast: rgba(255, 255, 255, 0.87);
$colors-red-normal-shades-default-800-hexadecimal: #c62828;
$colors-red-normal-shades-default-800-contrast: rgba(255, 255, 255, 0.87);
$colors-red-normal-shades-default-900-hexadecimal: #b71c1c;
$colors-red-normal-shades-default-900-contrast: rgba(255, 255, 255, 0.87);

$colors-red-normal-shades-android-100-hexadecimal: #ff8a80;
$colors-red-normal-shades-android-100-contrast: rgba(0, 0, 0, 0.87);
$colors-red-normal-shades-android-200-hexadecimal: #ff5252;
$colors-red-normal-shades-android-200-contrast: rgba(255, 255, 255, 0.87);
$colors-red-normal-shades-android-400-hexadecimal: #ff1744;
$colors-red-normal-shades-android-400-contrast: rgba(255, 255, 255, 0.87);
$colors-red-normal-shades-android-700-hexadecimal: #d50000;
$colors-red-normal-shades-android-700-contrast: rgba(255, 255, 255, 0.87);

/* Pink. Normal */
$colors-pink-normal-shades-default-50-hexadecimal: #fce4ec;
$colors-pink-normal-shades-default-50-contrast: rgba(0, 0, 0, 0.87);
$colors-pink-normal-shades-default-100-hexadecimal: #f8bbd0;
$colors-pink-normal-shades-default-100-contrast: rgba(0, 0, 0, 0.87);
$colors-pink-normal-shades-default-200-hexadecimal: #f48fb1;
$colors-pink-normal-shades-default-200-contrast: rgba(0, 0, 0, 0.87);
$colors-pink-normal-shades-default-300-hexadecimal: #f06292;
$colors-pink-normal-shades-default-300-contrast: rgba(0, 0, 0, 0.87);
$colors-pink-normal-shades-default-400-hexadecimal: #ec407a;
$colors-pink-normal-shades-default-400-contrast: rgba(255, 255, 255, 0.87);
$colors-pink-normal-shades-default-500-hexadecimal: #e91e63;
$colors-pink-normal-shades-default-500-contrast: rgba(255, 255, 255, 0.87);
$colors-pink-normal-shades-default-600-hexadecimal: #d81b60;
$colors-pink-normal-shades-default-600-contrast: rgba(255, 255, 255, 0.87);
$colors-pink-normal-shades-default-700-hexadecimal: #c2185b;
$colors-pink-normal-shades-default-700-contrast: rgba(255, 255, 255, 0.87);
$colors-pink-normal-shades-default-800-hexadecimal: #ad1457;
$colors-pink-normal-shades-default-800-contrast: rgba(255, 255, 255, 0.87);
$colors-pink-normal-shades-default-900-hexadecimal: #880e4f;
$colors-pink-normal-shades-default-900-contrast: rgba(255, 255, 255, 0.87);

$colors-pink-normal-shades-android-100-hexadecimal: #ff80ab;
$colors-pink-normal-shades-android-100-contrast: rgba(0, 0, 0, 0.87);
$colors-pink-normal-shades-android-200-hexadecimal: #ff4081;
$colors-pink-normal-shades-android-200-contrast: rgba(255, 255, 255, 0.87);
$colors-pink-normal-shades-android-400-hexadecimal: #f50057;
$colors-pink-normal-shades-android-400-contrast: rgba(255, 255, 255, 0.87);
$colors-pink-normal-shades-android-700-hexadecimal: #c51162;
$colors-pink-normal-shades-android-700-contrast: rgba(255, 255, 255, 0.87);

/* Purple. Normal */
$colors-purple-normal-shades-default-50-hexadecimal: #f3e5f5;
$colors-purple-normal-shades-default-50-contrast: rgba(0, 0, 0, 0.87);
$colors-purple-normal-shades-default-100-hexadecimal: #e1bee7;
$colors-purple-normal-shades-default-100-contrast: rgba(0, 0, 0, 0.87);
$colors-purple-normal-shades-default-200-hexadecimal: #ce93d8;
$colors-purple-normal-shades-default-200-contrast: rgba(0, 0, 0, 0.87);
$colors-purple-normal-shades-default-300-hexadecimal: #ba68c8;
$colors-purple-normal-shades-default-300-contrast: rgba(255, 255, 255, 0.87);
$colors-purple-normal-shades-default-400-hexadecimal: #ab47bc;
$colors-purple-normal-shades-default-400-contrast: rgba(255, 255, 255, 0.87);
$colors-purple-normal-shades-default-500-hexadecimal: #9c27b0;
$colors-purple-normal-shades-default-500-contrast: rgba(255, 255, 255, 0.87);
$colors-purple-normal-shades-default-600-hexadecimal: #8e24aa;
$colors-purple-normal-shades-default-600-contrast: rgba(255, 255, 255, 0.87);
$colors-purple-normal-shades-default-700-hexadecimal: #7b1fa2;
$colors-purple-normal-shades-default-700-contrast: rgba(255, 255, 255, 0.87);
$colors-purple-normal-shades-default-800-hexadecimal: #6a1b9a;
$colors-purple-normal-shades-default-800-contrast: rgba(255, 255, 255, 0.87);
$colors-purple-normal-shades-default-900-hexadecimal: #4a148c;
$colors-purple-normal-shades-default-900-contrast: rgba(255, 255, 255, 0.87);

$colors-purple-normal-shades-android-100-hexadecimal: #ea80fc;
$colors-purple-normal-shades-android-100-contrast: rgba(0, 0, 0, 0.87);
$colors-purple-normal-shades-android-200-hexadecimal: #e040fb;
$colors-purple-normal-shades-android-200-contrast: rgba(255, 255, 255, 0.87);
$colors-purple-normal-shades-android-400-hexadecimal: #d500f9;
$colors-purple-normal-shades-android-400-contrast: rgba(255, 255, 255, 0.87);
$colors-purple-normal-shades-android-700-hexadecimal: #aa00ff;
$colors-purple-normal-shades-android-700-contrast: rgba(255, 255, 255, 0.87);

/* Purple. Deep */
$colors-purple-deep-shades-default-50-hexadecimal: #ede7f6;
$colors-purple-deep-shades-default-50-contrast: rgba(0, 0, 0, 0.87);
$colors-purple-deep-shades-default-100-hexadecimal: #d1c4e9;
$colors-purple-deep-shades-default-100-contrast: rgba(0, 0, 0, 0.87);
$colors-purple-deep-shades-default-200-hexadecimal: #b39ddb;
$colors-purple-deep-shades-default-200-contrast: rgba(0, 0, 0, 0.87);
$colors-purple-deep-shades-default-300-hexadecimal: #9575cd;
$colors-purple-deep-shades-default-300-contrast: rgba(255, 255, 255, 0.87);
$colors-purple-deep-shades-default-400-hexadecimal: #7e57c2;
$colors-purple-deep-shades-default-400-contrast: rgba(255, 255, 255, 0.87);
$colors-purple-deep-shades-default-500-hexadecimal: #673ab7;
$colors-purple-deep-shades-default-500-contrast: rgba(255, 255, 255, 0.87);
$colors-purple-deep-shades-default-600-hexadecimal: #5e35b1;
$colors-purple-deep-shades-default-600-contrast: rgba(255, 255, 255, 0.87);
$colors-purple-deep-shades-default-700-hexadecimal: #512da8;
$colors-purple-deep-shades-default-700-contrast: rgba(255, 255, 255, 0.87);
$colors-purple-deep-shades-default-800-hexadecimal: #4527a0;
$colors-purple-deep-shades-default-800-contrast: rgba(255, 255, 255, 0.87);
$colors-purple-deep-shades-default-900-hexadecimal: #311b92;
$colors-purple-deep-shades-default-900-contrast: rgba(255, 255, 255, 0.87);

$colors-purple-deep-shades-android-100-hexadecimal: #b388ff;
$colors-purple-deep-shades-android-100-contrast: rgba(0, 0, 0, 0.87);
$colors-purple-deep-shades-android-200-hexadecimal: #7c4dff;
$colors-purple-deep-shades-android-200-contrast: rgba(255, 255, 255, 0.87);
$colors-purple-deep-shades-android-400-hexadecimal: #651fff;
$colors-purple-deep-shades-android-400-contrast: rgba(255, 255, 255, 0.87);
$colors-purple-deep-shades-android-700-hexadecimal: #6200ea;
$colors-purple-deep-shades-android-700-contrast: rgba(255, 255, 255, 0.87);

/* Indigo. Normal */
$colors-indigo-normal-shades-default-50-hexadecimal: #e8eaf6;
$colors-indigo-normal-shades-default-50-contrast: rgba(0, 0, 0, 0.87);
$colors-indigo-normal-shades-default-100-hexadecimal: #c5cae9;
$colors-indigo-normal-shades-default-100-contrast: rgba(0, 0, 0, 0.87);
$colors-indigo-normal-shades-default-200-hexadecimal: #9fa8da;
$colors-indigo-normal-shades-default-200-contrast: rgba(0, 0, 0, 0.87);
$colors-indigo-normal-shades-default-300-hexadecimal: #7986cb;
$colors-indigo-normal-shades-default-300-contrast: rgba(255, 255, 255, 0.87);
$colors-indigo-normal-shades-default-400-hexadecimal: #5c6bc0;
$colors-indigo-normal-shades-default-400-contrast: rgba(255, 255, 255, 0.87);
$colors-indigo-normal-shades-default-500-hexadecimal: #3f51b5;
$colors-indigo-normal-shades-default-500-contrast: rgba(255, 255, 255, 0.87);
$colors-indigo-normal-shades-default-600-hexadecimal: #3949ab;
$colors-indigo-normal-shades-default-600-contrast: rgba(255, 255, 255, 0.87);
$colors-indigo-normal-shades-default-700-hexadecimal: #303f9f;
$colors-indigo-normal-shades-default-700-contrast: rgba(255, 255, 255, 0.87);
$colors-indigo-normal-shades-default-800-hexadecimal: #283593;
$colors-indigo-normal-shades-default-800-contrast: rgba(255, 255, 255, 0.87);
$colors-indigo-normal-shades-default-900-hexadecimal: #1a237e;
$colors-indigo-normal-shades-default-900-contrast: rgba(255, 255, 255, 0.87);

$colors-indigo-normal-shades-android-100-hexadecimal: #8c9eff;
$colors-indigo-normal-shades-android-100-contrast: rgba(0, 0, 0, 0.87);
$colors-indigo-normal-shades-android-200-hexadecimal: #536dfe;
$colors-indigo-normal-shades-android-200-contrast: rgba(255, 255, 255, 0.87);
$colors-indigo-normal-shades-android-400-hexadecimal: #3d5afe;
$colors-indigo-normal-shades-android-400-contrast: rgba(255, 255, 255, 0.87);
$colors-indigo-normal-shades-android-700-hexadecimal: #304ffe;
$colors-indigo-normal-shades-android-700-contrast: rgba(255, 255, 255, 0.87);

/* Blue. Normal */
$colors-blue-normal-shades-default-50-hexadecimal: #e3f2fd;
$colors-blue-normal-shades-default-50-contrast: rgba(0, 0, 0, 0.87);
$colors-blue-normal-shades-default-100-hexadecimal: #bbdefb;
$colors-blue-normal-shades-default-100-contrast: rgba(0, 0, 0, 0.87);
$colors-blue-normal-shades-default-200-hexadecimal: #90caf9;
$colors-blue-normal-shades-default-200-contrast: rgba(0, 0, 0, 0.87);
$colors-blue-normal-shades-default-300-hexadecimal: #64b5f6;
$colors-blue-normal-shades-default-300-contrast: rgba(0, 0, 0, 0.87);
$colors-blue-normal-shades-default-400-hexadecimal: #42a5f5;
$colors-blue-normal-shades-default-400-contrast: rgba(0, 0, 0, 0.87);
$colors-blue-normal-shades-default-500-hexadecimal: #2196f3;
$colors-blue-normal-shades-default-500-contrast: rgba(0, 0, 0, 0.87);
$colors-blue-normal-shades-default-600-hexadecimal: #1e88e5;
$colors-blue-normal-shades-default-600-contrast: rgba(255, 255, 255, 0.87);
$colors-blue-normal-shades-default-700-hexadecimal: #1976d2;
$colors-blue-normal-shades-default-700-contrast: rgba(255, 255, 255, 0.87);
$colors-blue-normal-shades-default-800-hexadecimal: #1565c0;
$colors-blue-normal-shades-default-800-contrast: rgba(255, 255, 255, 0.87);
$colors-blue-normal-shades-default-900-hexadecimal: #0d47a1;
$colors-blue-normal-shades-default-900-contrast: rgba(255, 255, 255, 0.87);

$colors-blue-normal-shades-android-100-hexadecimal: #82b1ff;
$colors-blue-normal-shades-android-100-contrast: rgba(0, 0, 0, 0.87);
$colors-blue-normal-shades-android-200-hexadecimal: #448aff;
$colors-blue-normal-shades-android-200-contrast: rgba(255, 255, 255, 0.87);
$colors-blue-normal-shades-android-400-hexadecimal: #2979ff;
$colors-blue-normal-shades-android-400-contrast: rgba(255, 255, 255, 0.87);
$colors-blue-normal-shades-android-700-hexadecimal: #2962ff;
$colors-blue-normal-shades-android-700-contrast: rgba(255, 255, 255, 0.87);

/* Blue. Light */
$colors-blue-light-shades-default-50-hexadecimal: #e1f5fe;
$colors-blue-light-shades-default-50-contrast: rgba(0, 0, 0, 0.87);
$colors-blue-light-shades-default-100-hexadecimal: #b3e5fc;
$colors-blue-light-shades-default-100-contrast: rgba(0, 0, 0, 0.87);
$colors-blue-light-shades-default-200-hexadecimal: #81d4fa;
$colors-blue-light-shades-default-200-contrast: rgba(0, 0, 0, 0.87);
$colors-blue-light-shades-default-300-hexadecimal: #4fc3f7;
$colors-blue-light-shades-default-300-contrast: rgba(0, 0, 0, 0.87);
$colors-blue-light-shades-default-400-hexadecimal: #29b6f6;
$colors-blue-light-shades-default-400-contrast: rgba(0, 0, 0, 0.87);
$colors-blue-light-shades-default-500-hexadecimal: #03a9f4;
$colors-blue-light-shades-default-500-contrast: rgba(0, 0, 0, 0.87);
$colors-blue-light-shades-default-600-hexadecimal: #039be5;
$colors-blue-light-shades-default-600-contrast: rgba(0, 0, 0, 0.87);
$colors-blue-light-shades-default-700-hexadecimal: #0288d1;
$colors-blue-light-shades-default-700-contrast: rgba(255, 255, 255, 0.87);
$colors-blue-light-shades-default-800-hexadecimal: #0277bd;
$colors-blue-light-shades-default-800-contrast: rgba(255, 255, 255, 0.87);
$colors-blue-light-shades-default-900-hexadecimal: #01579b;
$colors-blue-light-shades-default-900-contrast: rgba(255, 255, 255, 0.87);

$colors-blue-light-shades-android-100-hexadecimal: #80d8ff;
$colors-blue-light-shades-android-100-contrast: rgba(0, 0, 0, 0.87);
$colors-blue-light-shades-android-200-hexadecimal: #40c4ff;
$colors-blue-light-shades-android-200-contrast: rgba(0, 0, 0, 0.87);
$colors-blue-light-shades-android-400-hexadecimal: #00b0ff;
$colors-blue-light-shades-android-400-contrast: rgba(0, 0, 0, 0.87);
$colors-blue-light-shades-android-700-hexadecimal: #0091ea;
$colors-blue-light-shades-android-700-contrast: rgba(255, 255, 255, 0.87);

/* Cyan. Normal */
$colors-cyan-normal-shades-default-50-hexadecimal: #e0f7fa;
$colors-cyan-normal-shades-default-50-contrast: rgba(0, 0, 0, 0.87);
$colors-cyan-normal-shades-default-100-hexadecimal: #b2ebf2;
$colors-cyan-normal-shades-default-100-contrast: rgba(0, 0, 0, 0.87);
$colors-cyan-normal-shades-default-200-hexadecimal: #80deea;
$colors-cyan-normal-shades-default-200-contrast: rgba(0, 0, 0, 0.87);
$colors-cyan-normal-shades-default-300-hexadecimal: #4dd0e1;
$colors-cyan-normal-shades-default-300-contrast: rgba(0, 0, 0, 0.87);
$colors-cyan-normal-shades-default-400-hexadecimal: #26c6da;
$colors-cyan-normal-shades-default-400-contrast: rgba(0, 0, 0, 0.87);
$colors-cyan-normal-shades-default-500-hexadecimal: #00bcd4;
$colors-cyan-normal-shades-default-500-contrast: rgba(0, 0, 0, 0.87);
$colors-cyan-normal-shades-default-600-hexadecimal: #00acc1;
$colors-cyan-normal-shades-default-600-contrast: rgba(0, 0, 0, 0.87);
$colors-cyan-normal-shades-default-700-hexadecimal: #0097a7;
$colors-cyan-normal-shades-default-700-contrast: rgba(255, 255, 255, 0.87);
$colors-cyan-normal-shades-default-800-hexadecimal: #00838f;
$colors-cyan-normal-shades-default-800-contrast: rgba(255, 255, 255, 0.87);
$colors-cyan-normal-shades-default-900-hexadecimal: #006064;
$colors-cyan-normal-shades-default-900-contrast: rgba(255, 255, 255, 0.87);

$colors-cyan-normal-shades-android-100-hexadecimal: #84ffff;
$colors-cyan-normal-shades-android-100-contrast: rgba(0, 0, 0, 0.87);
$colors-cyan-normal-shades-android-200-hexadecimal: #18ffff;
$colors-cyan-normal-shades-android-200-contrast: rgba(0, 0, 0, 0.87);
$colors-cyan-normal-shades-android-400-hexadecimal: #00e5ff;
$colors-cyan-normal-shades-android-400-contrast: rgba(0, 0, 0, 0.87);
$colors-cyan-normal-shades-android-700-hexadecimal: #00b8d4;
$colors-cyan-normal-shades-android-700-contrast: rgba(0, 0, 0, 0.87);

/* Teal. Normal */
$colors-teal-normal-shades-default-50-hexadecimal: #e0f2f1;
$colors-teal-normal-shades-default-50-contrast: rgba(0, 0, 0, 0.87);
$colors-teal-normal-shades-default-100-hexadecimal: #b2dfdb;
$colors-teal-normal-shades-default-100-contrast: rgba(0, 0, 0, 0.87);
$colors-teal-normal-shades-default-200-hexadecimal: #80cbc4;
$colors-teal-normal-shades-default-200-contrast: rgba(0, 0, 0, 0.87);
$colors-teal-normal-shades-default-300-hexadecimal: #4db6ac;
$colors-teal-normal-shades-default-300-contrast: rgba(0, 0, 0, 0.87);
$colors-teal-normal-shades-default-400-hexadecimal: #26a69a;
$colors-teal-normal-shades-default-400-contrast: rgba(0, 0, 0, 0.87);
$colors-teal-normal-shades-default-500-hexadecimal: #009688;
$colors-teal-normal-shades-default-500-contrast: rgba(255, 255, 255, 0.87);
$colors-teal-normal-shades-default-600-hexadecimal: #00897b;
$colors-teal-normal-shades-default-600-contrast: rgba(255, 255, 255, 0.87);
$colors-teal-normal-shades-default-700-hexadecimal: #00796b;
$colors-teal-normal-shades-default-700-contrast: rgba(255, 255, 255, 0.87);
$colors-teal-normal-shades-default-800-hexadecimal: #00695c;
$colors-teal-normal-shades-default-800-contrast: rgba(255, 255, 255, 0.87);
$colors-teal-normal-shades-default-900-hexadecimal: #004d40;
$colors-teal-normal-shades-default-900-contrast: rgba(255, 255, 255, 0.87);

$colors-teal-normal-shades-android-100-hexadecimal: #a7ffeb;
$colors-teal-normal-shades-android-100-contrast: rgba(0, 0, 0, 0.87);
$colors-teal-normal-shades-android-200-hexadecimal: #64ffda;
$colors-teal-normal-shades-android-200-contrast: rgba(0, 0, 0, 0.87);
$colors-teal-normal-shades-android-400-hexadecimal: #1de9b6;
$colors-teal-normal-shades-android-400-contrast: rgba(0, 0, 0, 0.87);
$colors-teal-normal-shades-android-700-hexadecimal: #00bfa5;
$colors-teal-normal-shades-android-700-contrast: rgba(0, 0, 0, 0.87);

/* Green. Normal */
$colors-green-normal-shades-default-50-hexadecimal: #e8f5e9;
$colors-green-normal-shades-default-50-contrast: rgba(0, 0, 0, 0.87);
$colors-green-normal-shades-default-100-hexadecimal: #c8e6c9;
$colors-green-normal-shades-default-100-contrast: rgba(0, 0, 0, 0.87);
$colors-green-normal-shades-default-200-hexadecimal: #a5d6a7;
$colors-green-normal-shades-default-200-contrast: rgba(0, 0, 0, 0.87);
$colors-green-normal-shades-default-300-hexadecimal: #81c784;
$colors-green-normal-shades-default-300-contrast: rgba(0, 0, 0, 0.87);
$colors-green-normal-shades-default-400-hexadecimal: #66bb6a;
$colors-green-normal-shades-default-400-contrast: rgba(0, 0, 0, 0.87);
$colors-green-normal-shades-default-500-hexadecimal: #4caf50;
$colors-green-normal-shades-default-500-contrast: rgba(0, 0, 0, 0.87);
$colors-green-normal-shades-default-600-hexadecimal: #43a047;
$colors-green-normal-shades-default-600-contrast: rgba(255, 255, 255, 0.87);
$colors-green-normal-shades-default-700-hexadecimal: #388e3c;
$colors-green-normal-shades-default-700-contrast: rgba(255, 255, 255, 0.87);
$colors-green-normal-shades-default-800-hexadecimal: #2e7d32;
$colors-green-normal-shades-default-800-contrast: rgba(255, 255, 255, 0.87);
$colors-green-normal-shades-default-900-hexadecimal: #1b5e20;
$colors-green-normal-shades-default-900-contrast: rgba(255, 255, 255, 0.87);

$colors-green-normal-shades-android-100-hexadecimal: #b9f6ca;
$colors-green-normal-shades-android-100-contrast: rgba(0, 0, 0, 0.87);
$colors-green-normal-shades-android-200-hexadecimal: #69f0ae;
$colors-green-normal-shades-android-200-contrast: rgba(0, 0, 0, 0.87);
$colors-green-normal-shades-android-400-hexadecimal: #00e676;
$colors-green-normal-shades-android-400-contrast: rgba(0, 0, 0, 0.87);
$colors-green-normal-shades-android-700-hexadecimal: #00c853;
$colors-green-normal-shades-android-700-contrast: rgba(0, 0, 0, 0.87);

/* Green. Light */
$colors-green-light-shades-default-50-hexadecimal: #f1f8e9;
$colors-green-light-shades-default-50-contrast: rgba(0, 0, 0, 0.87);
$colors-green-light-shades-default-100-hexadecimal: #dcedc8;
$colors-green-light-shades-default-100-contrast: rgba(0, 0, 0, 0.87);
$colors-green-light-shades-default-200-hexadecimal: #c5e1a5;
$colors-green-light-shades-default-200-contrast: rgba(0, 0, 0, 0.87);
$colors-green-light-shades-default-300-hexadecimal: #aed581;
$colors-green-light-shades-default-300-contrast: rgba(0, 0, 0, 0.87);
$colors-green-light-shades-default-400-hexadecimal: #9ccc65;
$colors-green-light-shades-default-400-contrast: rgba(0, 0, 0, 0.87);
$colors-green-light-shades-default-500-hexadecimal: #8bc34a;
$colors-green-light-shades-default-500-contrast: rgba(0, 0, 0, 0.87);
$colors-green-light-shades-default-600-hexadecimal: #7cb342;
$colors-green-light-shades-default-600-contrast: rgba(0, 0, 0, 0.87);
$colors-green-light-shades-default-700-hexadecimal: #689f38;
$colors-green-light-shades-default-700-contrast: rgba(0, 0, 0, 0.87);
$colors-green-light-shades-default-800-hexadecimal: #558b2f;
$colors-green-light-shades-default-800-contrast: rgba(255, 255, 255, 0.87);
$colors-green-light-shades-default-900-hexadecimal: #33691e;
$colors-green-light-shades-default-900-contrast: rgba(255, 255, 255, 0.87);

$colors-green-light-shades-android-100-hexadecimal: #ccff90;
$colors-green-light-shades-android-100-contrast: rgba(0, 0, 0, 0.87);
$colors-green-light-shades-android-200-hexadecimal: #b2ff59;
$colors-green-light-shades-android-200-contrast: rgba(0, 0, 0, 0.87);
$colors-green-light-shades-android-400-hexadecimal: #76ff03;
$colors-green-light-shades-android-400-contrast: rgba(0, 0, 0, 0.87);
$colors-green-light-shades-android-700-hexadecimal: #64dd17;
$colors-green-light-shades-android-700-contrast: rgba(0, 0, 0, 0.87);

/* Lime. Normal */
$colors-lime-normal-shades-default-50-hexadecimal: #f9fbe7;
$colors-lime-normal-shades-default-50-contrast: rgba(0, 0, 0, 0.87);
$colors-lime-normal-shades-default-100-hexadecimal: #f0f4c3;
$colors-lime-normal-shades-default-100-contrast: rgba(0, 0, 0, 0.87);
$colors-lime-normal-shades-default-200-hexadecimal: #e6ee9c;
$colors-lime-normal-shades-default-200-contrast: rgba(0, 0, 0, 0.87);
$colors-lime-normal-shades-default-300-hexadecimal: #dce775;
$colors-lime-normal-shades-default-300-contrast: rgba(0, 0, 0, 0.87);
$colors-lime-normal-shades-default-400-hexadecimal: #d4e157;
$colors-lime-normal-shades-default-400-contrast: rgba(0, 0, 0, 0.87);
$colors-lime-normal-shades-default-500-hexadecimal: #cddc39;
$colors-lime-normal-shades-default-500-contrast: rgba(0, 0, 0, 0.87);
$colors-lime-normal-shades-default-600-hexadecimal: #c0ca33;
$colors-lime-normal-shades-default-600-contrast: rgba(0, 0, 0, 0.87);
$colors-lime-normal-shades-default-700-hexadecimal: #afb42b;
$colors-lime-normal-shades-default-700-contrast: rgba(0, 0, 0, 0.87);
$colors-lime-normal-shades-default-800-hexadecimal: #9e9d24;
$colors-lime-normal-shades-default-800-contrast: rgba(0, 0, 0, 0.87);
$colors-lime-normal-shades-default-900-hexadecimal: #827717;
$colors-lime-normal-shades-default-900-contrast: rgba(255, 255, 255, 0.87);

$colors-lime-normal-shades-android-100-hexadecimal: #f4ff81;
$colors-lime-normal-shades-android-100-contrast: rgba(0, 0, 0, 0.87);
$colors-lime-normal-shades-android-200-hexadecimal: #eeff41;
$colors-lime-normal-shades-android-200-contrast: rgba(0, 0, 0, 0.87);
$colors-lime-normal-shades-android-400-hexadecimal: #c6ff00;
$colors-lime-normal-shades-android-400-contrast: rgba(0, 0, 0, 0.87);
$colors-lime-normal-shades-android-700-hexadecimal: #aeea00;
$colors-lime-normal-shades-android-700-contrast: rgba(0, 0, 0, 0.87);

/* Yellow. Normal */
$colors-yellow-normal-shades-default-50-hexadecimal: #fffde7;
$colors-yellow-normal-shades-default-50-contrast: rgba(0, 0, 0, 0.87);
$colors-yellow-normal-shades-default-100-hexadecimal: #fff9c4;
$colors-yellow-normal-shades-default-100-contrast: rgba(0, 0, 0, 0.87);
$colors-yellow-normal-shades-default-200-hexadecimal: #fff59d;
$colors-yellow-normal-shades-default-200-contrast: rgba(0, 0, 0, 0.87);
$colors-yellow-normal-shades-default-300-hexadecimal: #fff176;
$colors-yellow-normal-shades-default-300-contrast: rgba(0, 0, 0, 0.87);
$colors-yellow-normal-shades-default-400-hexadecimal: #ffee58;
$colors-yellow-normal-shades-default-400-contrast: rgba(0, 0, 0, 0.87);
$colors-yellow-normal-shades-default-500-hexadecimal: #ffeb3b;
$colors-yellow-normal-shades-default-500-contrast: rgba(0, 0, 0, 0.87);
$colors-yellow-normal-shades-default-600-hexadecimal: #fdd835;
$colors-yellow-normal-shades-default-600-contrast: rgba(0, 0, 0, 0.87);
$colors-yellow-normal-shades-default-700-hexadecimal: #fbc02d;
$colors-yellow-normal-shades-default-700-contrast: rgba(0, 0, 0, 0.87);
$colors-yellow-normal-shades-default-800-hexadecimal: #f9a825;
$colors-yellow-normal-shades-default-800-contrast: rgba(0, 0, 0, 0.87);
$colors-yellow-normal-shades-default-900-hexadecimal: #f57f17;
$colors-yellow-normal-shades-default-900-contrast: rgba(0, 0, 0, 0.87);

$colors-yellow-normal-shades-android-100-hexadecimal: #ffff8d;
$colors-yellow-normal-shades-android-100-contrast: rgba(0, 0, 0, 0.87);
$colors-yellow-normal-shades-android-200-hexadecimal: #ffff00;
$colors-yellow-normal-shades-android-200-contrast: rgba(0, 0, 0, 0.87);
$colors-yellow-normal-shades-android-400-hexadecimal: #ffea00;
$colors-yellow-normal-shades-android-400-contrast: rgba(0, 0, 0, 0.87);
$colors-yellow-normal-shades-android-700-hexadecimal: #ffd600;
$colors-yellow-normal-shades-android-700-contrast: rgba(0, 0, 0, 0.87);

/* Amber. Normal */
$colors-amber-normal-shades-default-50-hexadecimal: #fff8e1;
$colors-amber-normal-shades-default-50-contrast: rgba(0, 0, 0, 0.87);
$colors-amber-normal-shades-default-100-hexadecimal: #ffecb3;
$colors-amber-normal-shades-default-100-contrast: rgba(0, 0, 0, 0.87);
$colors-amber-normal-shades-default-200-hexadecimal: #ffe082;
$colors-amber-normal-shades-default-200-contrast: rgba(0, 0, 0, 0.87);
$colors-amber-normal-shades-default-300-hexadecimal: #ffd54f;
$colors-amber-normal-shades-default-300-contrast: rgba(0, 0, 0, 0.87);
$colors-amber-normal-shades-default-400-hexadecimal: #ffca28;
$colors-amber-normal-shades-default-400-contrast: rgba(0, 0, 0, 0.87);
$colors-amber-normal-shades-default-500-hexadecimal: #ffc107;
$colors-amber-normal-shades-default-500-contrast: rgba(0, 0, 0, 0.87);
$colors-amber-normal-shades-default-600-hexadecimal: #ffb300;
$colors-amber-normal-shades-default-600-contrast: rgba(0, 0, 0, 0.87);
$colors-amber-normal-shades-default-700-hexadecimal: #ffa000;
$colors-amber-normal-shades-default-700-contrast: rgba(0, 0, 0, 0.87);
$colors-amber-normal-shades-default-800-hexadecimal: #ff8f00;
$colors-amber-normal-shades-default-800-contrast: rgba(0, 0, 0, 0.87);
$colors-amber-normal-shades-default-900-hexadecimal: #ff6f00;
$colors-amber-normal-shades-default-900-contrast: rgba(0, 0, 0, 0.87);

$colors-amber-normal-shades-android-100-hexadecimal: #ffe57f;
$colors-amber-normal-shades-android-100-contrast: rgba(0, 0, 0, 0.87);
$colors-amber-normal-shades-android-200-hexadecimal: #ffd740;
$colors-amber-normal-shades-android-200-contrast: rgba(0, 0, 0, 0.87);
$colors-amber-normal-shades-android-400-hexadecimal: #ffc400;
$colors-amber-normal-shades-android-400-contrast: rgba(0, 0, 0, 0.87);
$colors-amber-normal-shades-android-700-hexadecimal: #ffab00;
$colors-amber-normal-shades-android-700-contrast: rgba(0, 0, 0, 0.87);

/* Orange. Normal */
$colors-orange-normal-shades-default-50-hexadecimal: #fff3e0;
$colors-orange-normal-shades-default-50-contrast: rgba(0, 0, 0, 0.87);
$colors-orange-normal-shades-default-100-hexadecimal: #ffe0b2;
$colors-orange-normal-shades-default-100-contrast: rgba(0, 0, 0, 0.87);
$colors-orange-normal-shades-default-200-hexadecimal: #ffcc80;
$colors-orange-normal-shades-default-200-contrast: rgba(0, 0, 0, 0.87);
$colors-orange-normal-shades-default-300-hexadecimal: #ffb74d;
$colors-orange-normal-shades-default-300-contrast: rgba(0, 0, 0, 0.87);
$colors-orange-normal-shades-default-400-hexadecimal: #ffa726;
$colors-orange-normal-shades-default-400-contrast: rgba(0, 0, 0, 0.87);
$colors-orange-normal-shades-default-500-hexadecimal: #ff9800;
$colors-orange-normal-shades-default-500-contrast: rgba(0, 0, 0, 0.87);
$colors-orange-normal-shades-default-600-hexadecimal: #fb8c00;
$colors-orange-normal-shades-default-600-contrast: rgba(0, 0, 0, 0.87);
$colors-orange-normal-shades-default-700-hexadecimal: #f57c00;
$colors-orange-normal-shades-default-700-contrast: rgba(0, 0, 0, 0.87);
$colors-orange-normal-shades-default-800-hexadecimal: #ef6c00;
$colors-orange-normal-shades-default-800-contrast: rgba(0, 0, 0, 0.87);
$colors-orange-normal-shades-default-900-hexadecimal: #e65100;
$colors-orange-normal-shades-default-900-contrast: rgba(255, 255, 255, 0.87);

$colors-orange-normal-shades-android-100-hexadecimal: #ffd180;
$colors-orange-normal-shades-android-100-contrast: rgba(0, 0, 0, 0.87);
$colors-orange-normal-shades-android-200-hexadecimal: #ffab40;
$colors-orange-normal-shades-android-200-contrast: rgba(0, 0, 0, 0.87);
$colors-orange-normal-shades-android-400-hexadecimal: #ff9100;
$colors-orange-normal-shades-android-400-contrast: rgba(0, 0, 0, 0.87);
$colors-orange-normal-shades-android-700-hexadecimal: #ff6d00;
$colors-orange-normal-shades-android-700-contrast: rgba(0, 0, 0, 0.87);

/* Orange. Deep */
$colors-orange-deep-shades-default-50-hexadecimal: #fbe9e7;
$colors-orange-deep-shades-default-50-contrast: rgba(0, 0, 0, 0.87);
$colors-orange-deep-shades-default-100-hexadecimal: #ffccbc;
$colors-orange-deep-shades-default-100-contrast: rgba(0, 0, 0, 0.87);
$colors-orange-deep-shades-default-200-hexadecimal: #ffab91;
$colors-orange-deep-shades-default-200-contrast: rgba(0, 0, 0, 0.87);
$colors-orange-deep-shades-default-300-hexadecimal: #ff8a65;
$colors-orange-deep-shades-default-300-contrast: rgba(0, 0, 0, 0.87);
$colors-orange-deep-shades-default-400-hexadecimal: #ff7043;
$colors-orange-deep-shades-default-400-contrast: rgba(0, 0, 0, 0.87);
$colors-orange-deep-shades-default-500-hexadecimal: #ff5722;
$colors-orange-deep-shades-default-500-contrast: rgba(0, 0, 0, 0.87);
$colors-orange-deep-shades-default-600-hexadecimal: #f4511e;
$colors-orange-deep-shades-default-600-contrast: rgba(255, 255, 255, 0.87);
$colors-orange-deep-shades-default-700-hexadecimal: #e64a19;
$colors-orange-deep-shades-default-700-contrast: rgba(255, 255, 255, 0.87);
$colors-orange-deep-shades-default-800-hexadecimal: #d84315;
$colors-orange-deep-shades-default-800-contrast: rgba(255, 255, 255, 0.87);
$colors-orange-deep-shades-default-900-hexadecimal: #bf360c;
$colors-orange-deep-shades-default-900-contrast: rgba(255, 255, 255, 0.87);

$colors-orange-deep-shades-android-100-hexadecimal: #ff9e80;
$colors-orange-deep-shades-android-100-contrast: rgba(0, 0, 0, 0.87);
$colors-orange-deep-shades-android-200-hexadecimal: #ff6e40;
$colors-orange-deep-shades-android-200-contrast: rgba(0, 0, 0, 0.87);
$colors-orange-deep-shades-android-400-hexadecimal: #ff3d00;
$colors-orange-deep-shades-android-400-contrast: rgba(255, 255, 255, 0.87);
$colors-orange-deep-shades-android-700-hexadecimal: #dd2c00;
$colors-orange-deep-shades-android-700-contrast: rgba(255, 255, 255, 0.87);

/* Brown. Normal */
$colors-brown-normal-shades-default-50-hexadecimal: #efebe9;
$colors-brown-normal-shades-default-50-contrast: rgba(0, 0, 0, 0.87);
$colors-brown-normal-shades-default-100-hexadecimal: #d7ccc8;
$colors-brown-normal-shades-default-100-contrast: rgba(0, 0, 0, 0.87);
$colors-brown-normal-shades-default-200-hexadecimal: #bcaaa4;
$colors-brown-normal-shades-default-200-contrast: rgba(0, 0, 0, 0.87);
$colors-brown-normal-shades-default-300-hexadecimal: #a1887f;
$colors-brown-normal-shades-default-300-contrast: rgba(255, 255, 255, 0.87);
$colors-brown-normal-shades-default-400-hexadecimal: #8d6e63;
$colors-brown-normal-shades-default-400-contrast: rgba(255, 255, 255, 0.87);
$colors-brown-normal-shades-default-500-hexadecimal: #795548;
$colors-brown-normal-shades-default-500-contrast: rgba(255, 255, 255, 0.87);
$colors-brown-normal-shades-default-600-hexadecimal: #6d4c41;
$colors-brown-normal-shades-default-600-contrast: rgba(255, 255, 255, 0.87);
$colors-brown-normal-shades-default-700-hexadecimal: #5d4037;
$colors-brown-normal-shades-default-700-contrast: rgba(255, 255, 255, 0.87);
$colors-brown-normal-shades-default-800-hexadecimal: #4e342e;
$colors-brown-normal-shades-default-800-contrast: rgba(255, 255, 255, 0.87);
$colors-brown-normal-shades-default-900-hexadecimal: #3e2723;
$colors-brown-normal-shades-default-900-contrast: rgba(255, 255, 255, 0.87);

/* Grey. Normal */
$colors-grey-normal-shades-default-50-hexadecimal: #fafafa;
$colors-grey-normal-shades-default-50-contrast: rgba(0, 0, 0, 0.87);
$colors-grey-normal-shades-default-100-hexadecimal: #f5f5f5;
$colors-grey-normal-shades-default-100-contrast: rgba(0, 0, 0, 0.87);
$colors-grey-normal-shades-default-200-hexadecimal: #eeeeee;
$colors-grey-normal-shades-default-200-contrast: rgba(0, 0, 0, 0.87);
$colors-grey-normal-shades-default-300-hexadecimal: #e0e0e0;
$colors-grey-normal-shades-default-300-contrast: rgba(0, 0, 0, 0.87);
$colors-grey-normal-shades-default-400-hexadecimal: #bdbdbd;
$colors-grey-normal-shades-default-400-contrast: rgba(0, 0, 0, 0.87);
$colors-grey-normal-shades-default-500-hexadecimal: #9e9e9e;
$colors-grey-normal-shades-default-500-contrast: rgba(0, 0, 0, 0.87);
$colors-grey-normal-shades-default-600-hexadecimal: #757575;
$colors-grey-normal-shades-default-600-contrast: rgba(255, 255, 255, 0.87);
$colors-grey-normal-shades-default-700-hexadecimal: #616161;
$colors-grey-normal-shades-default-700-contrast: rgba(255, 255, 255, 0.87);
$colors-grey-normal-shades-default-800-hexadecimal: #424242;
$colors-grey-normal-shades-default-800-contrast: rgba(255, 255, 255, 0.87);
$colors-grey-normal-shades-default-900-hexadecimal: #212121;
$colors-grey-normal-shades-default-900-contrast: rgba(255, 255, 255, 0.87);

/* Grey. Blue */
$colors-grey-blue-shades-default-50-hexadecimal: #eceff1;
$colors-grey-blue-shades-default-50-contrast: rgba(0, 0, 0, 0.87);
$colors-grey-blue-shades-default-100-hexadecimal: #cfd8dc;
$colors-grey-blue-shades-default-100-contrast: rgba(0, 0, 0, 0.87);
$colors-grey-blue-shades-default-200-hexadecimal: #b0bec5;
$colors-grey-blue-shades-default-200-contrast: rgba(0, 0, 0, 0.87);
$colors-grey-blue-shades-default-300-hexadecimal: #90a4ae;
$colors-grey-blue-shades-default-300-contrast: rgba(0, 0, 0, 0.87);
$colors-grey-blue-shades-default-400-hexadecimal: #78909c;
$colors-grey-blue-shades-default-400-contrast: rgba(255, 255, 255, 0.87);
$colors-grey-blue-shades-default-500-hexadecimal: #607d8b;
$colors-grey-blue-shades-default-500-contrast: rgba(255, 255, 255, 0.87);
$colors-grey-blue-shades-default-600-hexadecimal: #546e7a;
$colors-grey-blue-shades-default-600-contrast: rgba(255, 255, 255, 0.87);
$colors-grey-blue-shades-default-700-hexadecimal: #455a64;
$colors-grey-blue-shades-default-700-contrast: rgba(255, 255, 255, 0.87);
$colors-grey-blue-shades-default-800-hexadecimal: #37474f;
$colors-grey-blue-shades-default-800-contrast: rgba(255, 255, 255, 0.87);
$colors-grey-blue-shades-default-900-hexadecimal: #263238;
$colors-grey-blue-shades-default-900-contrast: rgba(255, 255, 255, 0.87);
