.data {
    @media only screen and (min-width: 0px) {
        &-small {
            /* Variables */
            $data-rows: 2;
            $data-columns: 12;
            
            /* Height */
            height: calc(#{$data-row-height} * #{$data-rows});
            
            /* Width */
            width: calc(#{$font-width} * #{$data-columns});
        }
        
        &-normal {
            /* Variables */
            $data-rows: 5;
            $data-columns: 12;
            
            /* Height */
            height: calc(#{$data-row-height} * #{$data-rows});
            
            /* Width */
            width: calc(#{$font-width} * #{$data-columns});
        }
    }
    
    @media only screen and (min-width: 320px) {
        &-small {
            /* Variables */
            $data-rows: 2;
            $data-columns: 18;
            
            /* Height */
            height: calc(#{$data-row-height} * #{$data-rows});
            
            /* Width */
            width: calc(#{$font-width} * #{$data-columns});
        }
        
        &-normal {
            /* Variables */
            $data-rows: 5;
            $data-columns: 18;
            
            /* Height */
            height: calc(#{$data-row-height} * #{$data-rows});
            
            /* Width */
            width: calc(#{$font-width} * #{$data-columns});
        }
    }
    
    @media only screen and (min-width: 640px) {
        &-small {
            /* Variables */
            $data-rows: 2;
            $data-columns: 24;
            
            /* Height */
            height: calc(#{$data-row-height} * #{$data-rows});
            
            /* Width */
            width: calc(#{$font-width} * #{$data-columns});
        }
        
        &-normal {
            /* Variables */
            $data-rows: 5;
            $data-columns: 24;
            
            /* Height */
            height: calc(#{$data-row-height} * #{$data-rows});
            
            /* Width */
            width: calc(#{$font-width} * #{$data-columns});
        }
    }
    
    @media only screen and (min-width: 768px) {
        &-small {
            /* Variables */
            $data-rows: 2;
            $data-columns: 48;
            
            /* Height */
            height: calc(#{$data-row-height} * #{$data-rows});
            
            /* Width */
            width: calc(#{$font-width} * #{$data-columns});
        }
        
        &-normal {
            /* Variables */
            $data-rows: 5;
            $data-columns: 48;
            
            /* Height */
            height: calc(#{$data-row-height} * #{$data-rows});
            
            /* Width */
            width: calc(#{$font-width} * #{$data-columns});
        }
    }
}
