.flex {
    /* Flex */
    display: flex;
    flex-wrap: wrap;
    
    /* Text */
    text-align: center;
    
    &-row {
        @extend .flex;
        
        /* Flex */
        flex-direction: row;
        
        &-center {
            @extend .flex-row;
            
            /* Flex */
            justify-content: center; /* Horizontal align */
            align-items: center; /* Vertical align */
        }
        
        &-bottom {
            @extend .flex-row;
            
            /* Flex */
            justify-content: center; /* Horizontal align */
            align-items: flex-end; /* Vertical align */
        }
        
        &-left {
            @extend .flex-row;
            
            /* Flex */
            justify-content: left; /* Horizontal align */
            align-items: center; /* Vertical align */
        }
        
        &-right {
            @extend .flex-row;
            
            /* Flex */
            justify-content: right; /* Horizontal align */
            align-items: center; /* Vertical align */
        }
    }
    
    &-column {
        @extend .flex;
        
        /* Flex */
        flex-direction: column;
        
        &-center {
            @extend .flex-column;
            
            /* Flex */
            justify-content: center; /* Horizontal align */
            align-items: center; /* Vertical align */
        }
    }
}
