@font-face {
    /* Font */
    font-family: 'roboto-mono-regular-normal';
    
    /* Source */
    src: url('../fonts/roboto/mono/regular/normal.ttf');
}

@font-face {
    /* Font */
    font-family: 'roboto-mono-regular-italic';
    
    /* Source */
    src: url('../fonts/roboto/mono/regular/italic.ttf');
}

@font-face {
    /* Font */
    font-family: 'roboto-mono-bold-normal';
    
    /* Source */
    src: url('../fonts/roboto/mono/bold/normal.ttf');
}

@font-face {
    /* Font */
    font-family: 'roboto-mono-bold-italic';
    
    /* Source */
    src: url('../fonts/roboto/mono/bold/italic.ttf');
}
