/**
 * Variables
 */

/* Line */
$line-height: 4px;

/* Border */
$border-width: 2px;
$border-default: $border-width solid rgba(0, 0, 0, 0.15);

/* Font */
$font-size: calc(#{$line-height} * 4);
$font-width: calc(#{$font-size} / 1.59);
$font-size-small: calc(#{$font-size} / 2);

/* Data */
$data-padding: $line-height;
$data-padding-horizontal: calc(#{$data-padding} * 2 * 1.5);
$data-padding-vertical: calc(#{$data-padding} * 1.5 * 1.5);

$data-rows: 10;
$data-columns: 10;

$data-row-height: calc(
    #{$font-size} + #{$line-height} * 2
);

/* Body */
$body-padding: calc(#{$font-size} * 1.1);
$body-padding-double: calc(#{$body-padding} * 2);

/* Display */
$display-width-min: calc(800px - #{$body-padding} * 2);

/* Duration */
$duration: 400ms;

/**
 * All
 */
* {
    /* Outline */
    outline: none;
    -webkit-tap-highlight-color: transparent;
    
    /* Font */
    font-family: 'roboto-mono-regular-normal', monospace;
    font-size: $font-size;
    
    /* Padding */
    padding: 0;
    
    /* Margin */
    margin: 0;
    
    /* Transition */
    transition-duration: $duration;
    -o-transition-duration: $duration;
    -moz-transition-duration: $duration;
    -webkit-transition-duration: $duration;
}

/**
 * HTML
 */
html {
    /* Flex */
    display: flex;
    
    /* Height */
    min-height: 100%;
    
    /* Width */
    min-width: calc(
        #{$display-width-min} + #{$body-padding} * 2
    );
}

/**
 * Body
 */
body {
    /* Width */
    width: calc(100% - #{$body-padding} * 2);
    min-width: $display-width-min;
    
    /* Padding */
    padding: $body-padding;
}

/**
 * Selection
 */
::selection {
    /* Background */
    background-color: $colors-purple-deep-shades-default-400-hexadecimal;
    
    /* Color */
    color: $colors-purple-deep-shades-default-400-contrast;
}

/**
 * Remove | Borders. Dotted. For `Firefox`
 */
::-moz-focus-inner,
::-moz-focus-outer {
    /* Border */
    border: none;
}

/**
 * Input
 */
input {
    @extend .data-input;
}

/**
 * Textarea
 */
textarea {
    @extend .data-textarea;
}

/**
 * Input & Textarea
 */
input, textarea {
    @extend .data-all;
    
    /* Hover */
    &:hover {
        /* Border */
        border-color: $colors-purple-deep-shades-default-300-hexadecimal;
    }
    
    &:focus {
        /* Border */
        border-color: $colors-purple-deep-shades-default-400-hexadecimal;
    }
}

/**
 * Data
 */

/* Input */
.data-input {
    /* Appearance */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    
    /* Height */
    height: calc(#{$font-size} + #{$line-height} * 2);
    
    /* Width */
    width: calc(#{$font-width} * #{$data-columns});
}

/* Textarea */
.data-textarea {
    /* Resize */
    resize: none;
    
    /* Line */
    line-height: $data-row-height !important;
    
    /* Height */
    height: calc(#{$data-row-height} * #{$data-rows});
    
    /* Width */
    width: calc(#{$font-width} * #{$data-columns});
}

/* All */
.data-all {
    /* Border */
    border: $border-default;
    
    /* Padding */
    padding-left: calc(#{$data-padding-horizontal} + 1px);
    padding-right: $data-padding-horizontal;
    padding-top: $data-padding-vertical;
    padding-bottom: $data-padding-vertical;
    
    /* Border */
    border-radius: $font-size-small;
    
    /* Hide | Scrollbar. For `WebKit` */
    &::-webkit-scrollbar {
        /* Width */
        width: 0 !important
    }
    
    /* Hide | Scrollbar. For `Firefox` */
    overflow: -moz-hidden-unscrollable;
    scrollbar-width: none;
}

/**
 * Label
 */
label:hover {
    /* Cursor */
    cursor: pointer;
}

/**
 * Button
 */
text {
    /* Background */
    background-color: transparent !important;
    
    /* Pointer */
    pointer-events: none;
}

button text {
    /* Color */
    color: $colors-purple-deep-shades-default-50-contrast;
}

button {
    /* User */
    -webkit-user-drag: none;
    
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    
    /* Visibility */
    visibility: visible;
    
    /* Background */
    background-color: $colors-purple-deep-shades-default-50-hexadecimal;
    
    /* Color */
    color: $colors-purple-deep-shades-default-50-contrast;
    
    /* Border */
    border: $border-default;
    border-color: $colors-purple-deep-shades-default-100-hexadecimal;
    border-radius: $font-size-small;
    
    /* Text */
    text-align: center;
    
    /* Cursor */
    cursor: pointer;
    
    /* Padding */
    padding: $body-padding;
    
    /* Margin */
    margin-left: $font-size;
    margin-right: $font-size;
    margin-top: $font-size;
    margin-bottom: $font-size-small;
    
    /* Hover */
    &:hover, &:hover text {
        /* Background */
        background-color: $colors-purple-deep-shades-default-300-hexadecimal;
        
        /* Color */
        color: $colors-purple-deep-shades-default-300-contrast;
        
        /* Border */
        border-color: $colors-purple-deep-shades-default-600-hexadecimal;
    }
    
    &:active, &:active text {
        /* Background */
        background-color: $colors-purple-deep-shades-default-400-hexadecimal;
        
        /* Color */
        color: $colors-purple-deep-shades-default-400-contrast;
        
        /* Border */
        border-color: $colors-purple-deep-shades-default-700-hexadecimal;
    }
}

/**
 * Unset | Table. Settings. For `Firefox`
 */
table,
thead, th,
tbody, tr, td,
tfoot,
caption {
    font-weight: unset;
}

/**
 * Table
 */
table {
    /* Margin */
    margin: $font-size;
    
    /* Border */
    border-collapse: collapse;
}

td, th {
    /* Border */
    border: $border-width solid lightgrey;
    
    /* Padding */
    padding: $font-size calc(#{$font-size} * 2);
}

/**
 * Wrap | Words
 */
text, th, td {
    /* Word */
    word-wrap: break-word;
    
    /* Overflow */
    overflow: hidden;
    overflow-wrap: break-word;
}

td {
    /* Word */
    word-break: break-all;
}

/**
 * Line. Horizontal
 */
hr {
    /* Margin */
    margin: $font-size;
    
    /* Border */
    border: none;
    border-bottom: $border-default;
}

.separator {
    /* Color */
    color: rgba(0, 0, 0, 0.45);
}

/**
 * Paragraph
 */
p {
    /* Margin */
    margin: $font-size;
}

/**
 * Links
 */
a, a text {
    &:hover {
        /* Border */
        border-bottom: $border-width solid $colors-blue-normal-shades-default-600-hexadecimal !important;
    }
    
    &:active {
        /* Color */
        color: $colors-blue-normal-shades-default-800-hexadecimal !important;
        
        /* Border */
        border-color: $colors-blue-normal-shades-default-800-hexadecimal !important;
    }
    
    /* Text */
    text-decoration: none !important;
    
    /* Color */
    color: $colors-blue-normal-shades-default-600-hexadecimal !important;
    
    /* Border */
    border-bottom: $border-width solid transparent !important;
    
    /* Margin */
    margin: 0 !important;
}

/**
 * Images
 */
img {
    /* User */
    -webkit-user-drag: none;
    
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.icon {
    /* Width */
    width: $font-size;
}

/**
 * Space
 */
.space {
    /* Width */
    width: $font-size;
    
    /* Height */
    height: $font-size;
}

/**
 * Transparent
 */
.transparent {
    /* Color */
    color: transparent;
}
