.element {
    &-default {
        @extend .element;
        
        /* Text */
        text-align: center;
        
        /* Border */
        border: $border-default;
        border-radius: $body-padding;
        
        /* Margin */
        margin: $body-padding;
        
        /* Padding */
        padding: $body-padding;
        
        /* Box */
        $size: calc(#{$font-size-small} / 8);
        $box-shadow: 0 $size $size $border-width rgba(0, 0, 0, 0.025);
        -webkit-box-shadow: $box-shadow;
        -moz-box-shadow: $box-shadow;
        box-shadow: $box-shadow;
    }
    
    &-title text {
        @extend .flex-row-center;
        @extend .element;
        
        /* Font */
        font-family: 'roboto-mono-bold-normal', monospace;
        font-size: 1.4em;
        
        /* Margin */
        margin-left: $font-size;
        margin-right: $font-size;
        margin-top: $font-size-small;
        margin-bottom: $font-size;
    }
    
    &-subtitle {
        /* Color */
        color: rgba(0, 0, 0, 0.55);
    }
    
    &-items {
        text, label, input, textarea {
            @extend .element;
            
            /* Margin */
            margin: $font-size-small;
        }
        
        /* Margin */
        margin: $font-size-small;
    }
}
