.font {
    &-bold-normal {
        /* Font */
        font-family: 'roboto-mono-bold-normal', monospace;
    }
    
    &-bold-italic {
        /* Font */
        font-family: 'roboto-mono-bold-italic', monospace;
    }
    
    &-regular-normal {
        /* Font */
        font-family: 'roboto-mono-regular-normal', monospace;
    }
    
    &-regular-italic {
        /* Font */
        font-family: 'roboto-mono-regular-italic', monospace;
    }
}
