#first-name,
#second-name,
#e-mail {
    /* Background */
    background-color: $colors-grey-normal-shades-default-50-hexadecimal;
    
    /* Color */
    color: $colors-grey-normal-shades-default-900-hexadecimal;
    
    /* Border */
    border-color: $colors-grey-blue-shades-default-100-hexadecimal;
    
    &:hover, &:hover text {
        /* Background */
        background-color: $colors-grey-blue-shades-default-900-contrast;
        
        /* Color */
        color: $colors-grey-normal-shades-default-900-hexadecimal;
        
        /* Border */
        border-bottom-color: $colors-grey-blue-shades-default-200-hexadecimal;
    }
    
    &:active, &:active text, &:focus {
        /* Background */
        background-color: $colors-grey-blue-shades-default-900-contrast;
        
        /* Color */
        color: $colors-grey-normal-shades-default-900-hexadecimal;
        
        /* Border */
        border-bottom-color: $colors-green-normal-shades-default-200-hexadecimal;
    }
}
