table {
    & th {
        @extend .font-bold-normal;
        
        /* Width */
        min-width: 120px;
        
        /* Background */
        background-color: $colors-blue-normal-shades-default-50-hexadecimal;
        
        /* Color */
        color: $colors-blue-normal-shades-default-900-hexadecimal;
        
        /* Border */
        border-color: $colors-blue-normal-shades-default-100-hexadecimal;
        
        /* Font */
        font-size: calc(#{$font-size} * 1.3);
    }
    
    & td {
        /* Background */
        background-color: $colors-grey-normal-shades-default-100-hexadecimal;
        
        /* Color */
        color: $colors-blue-normal-shades-default-50-contrast;
        
        /* Border */
        border: $border-default;
        border-color: $colors-grey-blue-shades-default-100-hexadecimal;
        border-radius: 0;
        
        /* Text */
        text-align: center;
        
        /* Cursor */
        cursor: text;
        
        /* Padding */
        padding: $body-padding;
        
        /* Margin */
        margin-left: $font-size-small;
        margin-right: $font-size-small;
        margin-top: $font-size;
        margin-bottom: $font-size-small;
        
        /* Hover */
        &:hover, &:hover text {
            /* Background */
            background-color: $colors-blue-normal-shades-default-900-contrast;
            
            /* Color */
            color: $colors-blue-normal-shades-default-50-contrast;
            
            /* Border */
            border-bottom-color: $colors-grey-blue-shades-default-200-hexadecimal;
        }
        
        &:active, &:active text, &:focus {
            /* Background */
            background-color: $colors-blue-normal-shades-default-900-contrast;
            
            /* Color */
            color: $colors-blue-normal-shades-default-50-contrast;
            
            /* Border */
            border-bottom-color: $colors-blue-normal-shades-default-200-hexadecimal;
        }
    }
}

.table-transparent {
    /* Width */
    min-width: 80px !important;
    
    /* Background */
    background-color: transparent;
    
    /* Color */
    color: transparent;
    
    /* Border */
    border-color: transparent;
    
    /* Font */
    font-size: calc(#{$font-size} * 1.25);
}
