.update {
    @extend button, .font-bold-normal;
    
    /* Background */
    background-color: $colors-blue-normal-shades-default-50-hexadecimal;
    
    /* Color */
    color: $colors-blue-normal-shades-default-900-hexadecimal;
    
    /* Border */
    border-color: $colors-blue-normal-shades-default-100-hexadecimal;
    
    & text {
        @extend .font-bold-normal;
        
        /* Color */
        color: $colors-blue-normal-shades-default-900-hexadecimal;
    }
    
    &:hover, &:hover text {
        /* Background */
        background-color: $colors-blue-normal-shades-default-50-hexadecimal;
        
        /* Color */
        color: $colors-blue-normal-shades-default-900-hexadecimal;
        
        /* Border */
        border-color: $colors-blue-normal-shades-default-300-hexadecimal;
    }
    
    &:active, &:active text {
        /* Background */
        background-color: $colors-blue-normal-shades-default-100-hexadecimal;
        
        /* Color */
        color: $colors-blue-normal-shades-default-900-hexadecimal;
        
        /* Border */
        border-color: $colors-blue-normal-shades-default-900-contrast;
    }
}
